/*
 * SimpleModal Basic Modal Dialog
 * http://simplemodal.com
 *
 * Copyright (c) 2013 Eric Martin - http://ericmmartin.com
 *
 * Licensed under the MIT license:
 *   http://www.opensource.org/licenses/mit-license.php
 */

#basic-modal-content , #basic-modal-contentt, #basic-modal-content-cart{display:none;}

/* Overlay */
#simplemodal-overlay {background-color:#000;}
.simplemodal-wrap{height: auto;}
/* Container */
#simplemodal-container {height:auto; width:360px; color:#bbb; background-color:#fff; border:4px solid #cfcfcf;border-radius: 10px; padding:12px;z-index:999999}
#simplemodal-container .simplemodal-data {}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {color:#000;}
#simplemodal-container a.modalCloseImg {background:url(../img/basic/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container h3 {color:#84b8d9;}
