
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

/**desktop **/
.row::after {
    content: "";
    clear: both;
    display: block;
}

.container {
    margin-right: auto;
    margin-left: auto;
    /*padding-left: 15px;*/
    /*padding-right: 15px*/
}

.container:before {
    content: " ";
    display: table
}

.container:after {
    clear: both
}

[class*="col-"] {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.img-responsive, .img, .wp-post-image {
    max-width: 100%;
    height: auto
}

.col-176 {
    width: 176px
}

.col-598 {
    width: 598px;
}

/***/
.col-3-x {
    width: 25%
}

.col-12-x {
    width: 100%
}

.col-4-x {
    width: 33.33%;
}

.col-3-x, .col-12-x, .col-4-x {
    padding: 2px;
}

.col-6-x {
    width: 50%;
}

.col-520 {
    width: 520px
}

.col-249 {
    width: 249px
}

.col-770 {
    width: 770px
}
.col-hidden-x {
    display: block!important;
}

/***/

/*.mb-hidden{display: none}*/
.mb-show{display: none}
@media only screen and (max-width: 360px) {
    .col-2-m {
        width: 100% !important;
    }
}


@media only screen and (width : 375px)
{
    .btn_menu{top: 41px;}
    .round-menu{}
}

@media only screen and (min-width: 375px) and (max-width: 667px) {

    .img-l.logo {
        height: 44px;
    }

    .col-2-m {
        width: 50% !important;
    }
    .pb-0{padding: 0 0 0!important;}


}

@media only screen and (max-width: 600px) {
    body{font-size: 13px}
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }

    .container {
        max-width: 100%;
        overflow: hidden;

    }

    .img-responsive, .img, .wp-post-image {
        max-width: 100%;
        height: auto
    }

    .short {
        max-width: 100%
    }

    .mb-show {
        display: block
    }

    .mb-hidden {
        display: none !important;
    }

    /***/
    .menu-menu-footer-container ul li {
        display: inline;
        background: none !important;
        padding: 0px !important;
        border: 0 !important;
        border-radius: 0px !important;
    }

    .menu-menu-footer-container ul li a {
        color: #000 !important;
    }
    .menu-menu-footer-container ul li a:hover{color: #0000ff!important;}

    /****/
    .item {
        min-height: 275px
    }
    .single-product .quantity .qty{  line-height: 29px !important;}
}


@media only screen and (max-width: 414px) {
    .head{padding: 0 0 7px}
    .col-2-x{width: 100%!important;}
    .col-2-m{width: 50%!important;}
    .google-map{height: 300px}
    /**cart page**/
    .woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals{
        width: 100%!important;
    }
    .woocommerce table.shop_table th{display: none}
    .woocommerce-order-received table.shop_table th{display: block!important;}
    .woocommerce table.shop_table td{width: 100%;display: block;}
    .woocommerce-cart .wc-proceed-to-checkout{width: 50%!important;}
    .checkout-button.button.alt.wc-forward.btn-cart{font-size: 18px;padding: 14px!important;}
    .woocommerce-order-received .product-total,.woocommerce-order-received th.product-name{background: #eee}
    .cart-subtotal td{background: #e1f5ff}
    .woocommerce-order-received .customer_details th,.woocommerce-order-received .order_details th{
        /*display: table !important;*/
        float: left !important;
        line-height: 30px;
    }
    .woocommerce-order-received .product-name, .woocommerce-order-received table.shop_table th{width: 50%!important;width: 50% !important; padding: 0px 12px!important;}
    .woocommerce-order-received table.shop_table td, .woocommerce-order-received table.shop_table tbody th, .woocommerce-order-received table.shop_table tfoot td, .woocommerce-order-received table.shop_table tfoot th{
        border-top: 0px!important;
    }

}

@media only screen and (max-width: 800px) {
    [class*="col-"] {
        width: 100%;
    }

    .col-hidden {
        display: none !important;
    }

    /* For mobile phones: */
    .col-598 {
        width: 100%
    }

    .container {
        width: 100%;
        padding: 0 10px
    }

    .wp-post-image {
        max-width: 100%;
        height: auto
    }

    .col-2-m {
        width: 33.33% !important;
    }

    .item {
        min-height: 275px
    }
    .menu-phone{width: 100%;}
    .menu-phone .hr{display: none}
    .menu-phone ul li ul{display: none}
    .menu-phone ul li{ padding: 8px 10px;}
    .menu-phone ul li ul li:last-child{border-bottom: 0!important;padding-bottom: 0;}
    .menu-phone ul li ul li:first-child{border-top: 1px solid #ff318a !important; margin-top: 7px!important;}
    .menu-phone ul li ul li a{color: #fff}
    .menu-header {
        display: none;
        background: #f32879!important;
        /*-webkit-transition: all 0.4s ease-in;*/
        /*-moz-transition: all 0.4s ease-in;*/
        /*-ms-transition: all 0.4s ease-in;*/
        /*-o-transition: all 0.4s ease-in;*/
        /*transition: all 0.4s ease-in;*/
        /*transition-delay: 0.3s;*/
        /*-o-transition-delay: 0.3s;*/
        /*-moz-transition-delay: 0.3s;*/
        /*-webkit-transition-delay: 0.3s;*/
    }
    .menu-header li{
        border-bottom: 1px solid #FF318A!important;
        float: left; width: 100%; display: block ;background: #f32879!important; border-radius: 0px!important;
        position: relative;
    }

    .btn_menu {
        border: 1px solid;
        border-radius: 3px;
        float: right !important;
        padding: 4px 10px;
        position: absolute;
        right: 14px;
        top: 57px !important;
        width: auto;
    }

    .plus_phone{ color: #fff;
        cursor: pointer;
        font-size: 34px;
        font-weight: bold;
        position: absolute;
        right: 0 !important;
        top: 10px;}
    .plus_phone{height: 38px;width: 32px}
    .plus_phone.sub_phone{ height: 24px;width: 30px}

    .common [class*="menu"] li ul.goc-chiase{width: 100%}

    /**comment*/
    input[type="text"],input[type="email"],input[type="tel"],textarea, .comment-respond label{width: 100%!important;}
    .stars a{font-size: 12px}
    .wpcf7-submit{width: 40%!important}
    .woocommerce table.shop_table,.woocommerce-checkout #payment{width: 100%!important;}
    .form-row.place-order{    margin: 0 auto !important;
        max-width: 200px !important;}

}

@media only screen and (max-width: 801px) {
    .col-hidden-x {
        display: none;
    }

    .fa.fa-bars,.mb-shopping {
        font-size: 30px!important;
        cursor: pointer
    }

}
@media only screen and (min-width: 804px){
    .col-hidden-x {
        display: none!important;
    }
}

