html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
*:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

/**desktop **/
.row::after {
 content: "";
 clear: both;
 display: block;
}
.container {
	margin-right: auto;
	margin-left: auto;/*padding-left: 15px;*//*padding-right: 15px*/
}
.container:before {
	content: " ";
	display: table
}
.container:after {
	clear: both
}
 [class*="col-"] {
 float: left;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
}
.img-responsive, .img, .wp-post-image {
	max-width: 100%;
	height: auto
}
.col-176 {
	width: 176px
}
.col-598 {
	width: 598px;
}
/***/
.col-3-x {
	width: 25%
}
.col-12-x {
	width: 100%
}
.col-4-x {
	width: 33.33%;
}
.col-3-x, .col-12-x, .col-4-x {
	padding: 2px;
}
.col-6-x {
	width: 50%;
}
.col-520 {
	width: 520px
}
.col-249 {
	width: 249px
}
.col-770 {
	width: 770px
}
.col-hidden-x {
	display: block!important;
}
/***/
.woocommerce-cart .wc-proceed-to-checkout {
	overflow: hidden
}
.woocommerce #content table.cart td.actions .button, .woocommerce #content table.cart td.actions .input-text, .woocommerce #content table.cart td.actions input, .woocommerce table.cart td.actions .button, .woocommerce table.cart td.actions .input-text, .woocommerce table.cart td.actions input, .woocommerce-page #content table.cart td.actions .button, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions input, .woocommerce-page table.cart td.actions .button, .woocommerce-page table.cart td.actions .input-text, .woocommerce-page table.cart td.actions input {
	width: auto;
}
/*.mb-hidden{display: none}*/
.mb-show {
	display: none
}
.btn_menu {
	border: 1px solid;
	border-radius: 3px;
	float: right !important;
	padding: 4px 8px;
	position: absolute;
	right: 14px;
	top: 47px;
	width: auto;
}
.admin-bar .btn_menu {
	top: 93px!important;
}
@media only screen and (min-width: 375px) and (max-width: 414px) {
 .btn_menu {
top:40px
}
 .admin-bar .btn_menu {
top: 85px!important;;
}
 .head .fa.fa-bars {
font-size: 24px!important;
}
}
 @media only screen and (min-width: 375px) and (max-width: 667px) {
 .img-l.logo {
 height: 44px;
}
 .col-2-m {
 width: 50% !important;
}
 .pb-0 {
padding: 0 0 0!important;
}
}
 @media only screen and (max-width: 600px) {
 body {
font-size: 13px
}
    /* For mobile phones: */
    [class*="col-"] {
 width: 100%;
}
 .container {
 max-width: 100%;
 overflow: hidden;
}
 .img-responsive, .img, .wp-post-image {
 max-width: 100%;
 height: auto
}
 .short {
 max-width: 100%
}
 .mb-show {
 display: block
}
 .mb-hidden {
 display: none !important;
}

    /***/
    .menu-menu-footer-container ul li {
 display: inline;
 background: none !important;
 padding: 0px !important;
 border: 0 !important;
 border-radius: 0px !important;
}
 .menu-menu-footer-container ul li a {
 color: #D60C7E !important;
}
 .menu-menu-footer-container ul li a:hover {
color: #D60C7E!important;
}

    /****/
    .item {
 min-height: 275px
}
 .single-product .quantity .qty {
line-height: 29px !important;
}
}
 @media only screen and (max-width: 800px) {
 [class*="col-"] {
 width: 100%;
}
 .col-hidden {
 display: none !important;
}

    /* For mobile phones: */
    .col-598 {
 width: 100%
}
 .container {
 width: 100%;
 padding: 0 10px
}
 .wp-post-image {
 max-width: 100%;
 height: auto
}
 .col-2-m {
 width: 33.33% !important;
}
 .item {
 min-height: 275px
}
 .has-sub:hover:after {
display: none
}
.menu-phone {
width: 100%;
}
.menu-phone .hr {
display: none
}
 .menu-phone ul li ul {
display: none
}
 .menu-phone ul li {
padding: 8px 10px;
}
 .menu-phone ul li ul li:last-child, .sub-menu-2 li:last-child {
border-bottom: 0!important;
padding-bottom: 0!important;
margin-bottom: 0px!important;
}
 .menu-phone ul li ul li:first-child, .sub-menu-2 li:first-child {
 margin-bottom: 0px;
 border-top: 1px solid #ff318a !important;
margin-top: 7px!important;
}
 .menu-phone ul li ul li a {
color: #fff
}
 .menu-header {
 display: none;
 background: #f32879!important;
}
 .menu-header li {
 border-bottom: 1px solid #FF318A!important;
 float: left;
width: 100%;
display: block;
background: #f32879!important;
border-radius: 0px!important;
 position: relative;
}
 .menu-header li a:focus, .menu-header li a:active, .sub-menu a:hover {
color: #fff!important;
}
 .sub-menu-2 {
display: block!important;
}
 .sub-menu-2 li {
border: 0;
margin: 0
}
 .btn_menu {
 width: auto;
}
 .plus_phone {
color: #fff;
 cursor: pointer;
 font-size: 34px;
 font-weight: bold;
 position: absolute;
 right: 0 !important;
 top: 10px;
}
 .plus_phone {
height: 38px;
width: 32px
}
 .plus_phone.sub_phone {
height: 24px;
width: 30px
}
 .common [class*="menu"] li ul.goc-chiase {
width: 100%
}

    /**comment*/
    input[type="text"], input[type="email"], input[type="tel"], textarea, .comment-respond label {
width: 100%!important;
}
 .stars a {
font-size: 12px
}
 .woocommerce table.shop_table, .woocommerce-checkout #payment {
width: 100%!important;
}
 .form-row.place-order {
margin: 0 auto !important;
 max-width: 200px !important;
}
 footer .menu-menu-footer-container {
background: none;
height: auto
}
 .menu-menu-footer-container {
margin: 0
}
 footer ul li {
margin: 5px
}
 ul .menu-item-58 a, ul .menu-item-59 a, ul .menu-item-61 a {
position: inherit
}
 ul .menu-item-58 a {
top: auto
}
 ul .menu-item-59 a {
top: auto
}
 ul .menu-item-61 a {
bottom: auto
}
}
 @media only screen and (max-width: 768px) {
 .admin-bar .btn_menu {
top: 104px;
}
.mc-perfume{display:block}
}
@media only screen and (max-width: 801px) {
 .col-hidden-x {
 display: none;
}
 .fa.fa-bars, .mb-shopping {
 font-size: 30px!important;
 cursor: pointer
}
}
@media only screen and (min-width: 804px) {
 .col-hidden-x {
 display: none!important;
}
}
@media only screen and (max-width: 414px) {
 .head {
padding: 0 0 7px
}
 .col-2-x {
width: 100%!important;
}
 .col-2-m {
width: 50%!important;
}
 .google-map {
height: 300px
}
    /**cart page**/
    .woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
 width: 100%!important;
}
 .woocommerce table.shop_table th {
display: none
}
 .woocommerce-order-received table.shop_table th {
display: block!important;
}
 .woocommerce table.shop_table td {
width: 100%;
display: block;
}
 .woocommerce-cart .wc-proceed-to-checkout {
overflow: hidden
}
 .checkout-button.button.alt.wc-forward.btn-cart {
font-size: 18px;
padding: 14px!important;
}
 .woocommerce-order-received .product-total, .woocommerce-order-received th.product-name {
background: #eee
}
 .cart-subtotal td {
background: #e1f5ff
}
 .woocommerce-order-received .customer_details th, .woocommerce-order-received .order_details th {
        /*display: table !important;*/
        float: left !important;
 line-height: 30px;
}
 .woocommerce-order-received .product-name, .woocommerce-order-received table.shop_table th {
width: 50%!important;
width: 50% !important;
padding: 0px 12px!important;
}
 .woocommerce-order-received table.shop_table td, .woocommerce-order-received table.shop_table tbody th, .woocommerce-order-received table.shop_table tfoot td, .woocommerce-order-received table.shop_table tfoot th {
 border-top: 0px!important;
}
 h1 {
font-size: 22px
}
.mc-perfume{display:block}
}
 @media only screen and (max-width: 360px) {
 .col-2-m {
 width: 100% !important;
}

}
@media only screen and (max-width: 320px) {
 .txt-logo {
max-width: 67% !important;
}
}
