/*
Theme Name: My pham
Author: Bach Ngoc Hong Diep
Description: Theme for my pham web-kbone ver 1.0
Version: 1.0
License: GNU General Public License v2 or later
*/

@import url(https://fonts.googleapis.com/css?family=Cinzel+Decorative);
@font-face {
    font-family: NhomMuaMedium;
    src: url(fonts/nhom_mua-md-webfont.eot);
    src: url(fonts/nhom_mua-md-webfont.eot?#iefix) format('embedded-opentype'), url(fonts/nhom_mua-md-webfont.woff) format('woff'), url(fonts/nhom_mua-md-webfont.ttf) format('truetype');
    font-weight: 400;
    font-style: normal
}

body {
    background: url("images/bg.png") repeat;
    font-family: 'NhomMuaMedium',Arial, "Open Sans", Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5em;
}
html{margin-top: 0px!important;
    top: 0 !important;}
* {
    padding: 0;
    margin: 0
}

/**reset**/
.content {
    width: 100%;
    overflow: hidden
}

footer, section, address{overflow: hidden;width: 100%}
ul {
    list-style: none;

}
ol {
    list-style: inside;
}

a {
    text-decoration: none;
    color: #F32879;
    border: none;
}
a, img{ border:none;
    outline:none}

a:hover {
    color: #E22124;
    text-decoration: underline;
}

p {
    line-height: 1.6em;
}

.container {
    max-width: 950px;

    overflow: hidden
}

/***fortmat**/
/**text**/
.txt-left {
    text-align: left
}

.txt-right {
    text-align: right
}

.txt-center {
    text-align: center
}

.txt-justify {
    text-align: justify
}

.mb-10 {
    margin-bottom: 10px
}
.mb-20{margin-bottom: 20px}
.mb-30{margin-bottom: 30px}
.mt-20{margin-top: 20px}

.right {
    float: right !important;
}

.left {
    float: left !important;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: block;
}

.clearfix:after {
    clear: both;
}

.img-l {
    float: left;
    margin-right: 7px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.center{text-align: center !important}

.txt-b {
    font-weight: bold;
    color: #000
}
[class *='menu'] ul li{float: left}

/***module**/
.module {
    width: 170px;
    position: relative
}

.module-right {
    float: right
}

.module-right .module {
    float: right;
}

.module {
    position: relative
}

.module-left .module:before {
    content: "";
    display: block;
    background: url("images/m-left-head.png") no-repeat center top;
    height: 53px;
    width: 100%;
}

.module-left .module:after {
    content: "";
    display: block;
    background: url("images/m-left-foot.png") no-repeat center bottom;
    height: 29px;
    width: 100%;
}

.module-right .module:before {
    content: "";
    display: block;
    background: url("images/m-right-head.png") no-repeat center top;
    height: 53px;
    width: 100%;
}

.module-right .module:after {
    content: "";
    display: block;
    background: url("images/m-right-foot.png") no-repeat center bottom;
    height: 29px;
    width: 100%;
}

.m-content {
    padding: 15px 10px;
    border-left: 1px dashed #d60c7e;
    border-right: 1px dashed #d60c7e
}

/**facebook**/
.m-facebook .m-content {
    padding: 15px 2px
}

.fb_iframe_widget {
    max-width: 100%;
    overflow: hidden
}
.m-pro-best .bx-viewport{
    height: 280px !important;
}
.m-pro-sale .bx-viewport{
    height: 299px !important;
}
.m-pro-hot li img{margin: 0 auto}
/**/
/***product hot**/
.m-pro-hot .module .list img {
    max-width: 100%;
    height: auto;
}

.m-pro-hot .m-content {
    background: #fff
}

/***/

.module .list img {
    height: 50px;
    max-width: 50px
}

.m-contact-us .m-content {
    background-color: #F6EFE9
}

.col-6, .col-3 {
padding-top: 13px;
}

.module h3 {
    color: #fff;
    font-size: 15px;
     padding: 16px 9px;
    position: absolute;
    top: 0;
    font-weight: normal;
}
a h3:hover{text-decoration: underline}

.module-right h3 {
    padding: 19px 9px 13px;
}

.fa-shopping-cart {
    color: #d60c7e
}

.fa-2e, .m-contact-us .fa {
    font-size: 2em;
    margin-right: 8px;
}

.fa-youtube-square {
    color: #d42322
}

.fa-facebook-square {
    color: #3E61B4
}

.fa-twitter-square {
    color: #659FCB
}

.m-cart .fa-2e {
    float: left;
    font-size: 2em;
    padding-right: 5px;
}

.list li {
    float: left !important;
    margin-bottom: 15px;
    width: 100%;
}

.youtube iframe {
    max-width: 100%;
}
.mt-10{margin-top: 10px}
h2 {
    background: rgba(0, 0, 0, 0) url("images/link.jpg") repeat-x scroll center bottom;
    border-bottom: 1px dotted #d60c7e;
    margin-bottom: 15px;
    padding: 10px 12px 15px 0;
}
a h2:hover{text-decoration: underline}
.border{border: 1px solid #ddd}
.page-id-5 .module-main,.page-id-6 .module-main{border: 0px}
.page-id-5 .content .container, .page-id-6 .content .container{background: #fff}
.entry h2{background: none; border-bottom:none; padding: 5px 0;margin: 0}
nav.woocommerce-breadcrumb, nav.woocommerce-breadcrumb a{
    text-align: left;
    color: #e61372 !important;
}
.woocommerce-info{text-align: left}
h1{color: #F805BC; font-family: 'Cinzel Decorative','Philosopher', sans-serif; text-align: left;}
h1 a:hover{text-decoration: none}
.img-l.logo{position:relative; margin-right: 0;height: 55px; width: auto}
h4{font-weight: normal}
.head {
    padding: 13px 0 7px;
}
header,.error404 .content .container{background:#fff}
.error404 .content .container{padding: 10px 20px 40px}

/***module main**/
.module-main {
    background: #fff;
    border: 1px solid #ddd;
    -webkit-box-shadow: -1px -4px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -1px -4px 10px rgba(0, 0, 0, 0.5);
    box-shadow: -1px -4px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    width: 100%;
    padding: 5px 5px 20px 5px;
    overflow: hidden;

}
.page-id-5 .module-main, .page-id-6 .module-main{ box-shadow:none}

.mm-newpro {
    margin: 0 auto;
    text-align: center;
}

.module-main h2 {
    text-align: left;
    color: #E61372;
    font-size: 17px;
    font-weight: normal;
}

.module-main .price {
    color: #d60c7e;
    margin: 5px 0 10px;
}
.price{overflow: hidden}
.module-main h4 {
    margin: 10px 0 5px
    ;font-weight: normal;
}
.item {
    border: 1px dashed #ddd;
    margin: 10px 0px;
    min-height: 250px;
    padding: 10px 3px;
    text-align: center;
}
.items{background: #F6EFE9;padding: 7px 2px 4px 7px;overflow: hidden; margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.item:hover{border: 1px dashed #d60c7e}

/***price**/
.price .amount {
    color: #0000ff;
    font-size: 15px
}

.price ins {
    text-decoration: none;
}

.price del .amount {
    color: #555;
    font-size: 11px;
    font-weight: normal
}
.single-product .product-details .price del .amount{font-size: 15px!important;}

.price del {
    color: #555;
}
.btn-add-cart:hover{text-decoration: none;}

.btn-add-cart {

    background: #fbfbfb none repeat scroll 0 0;
    border: 1px solid;
    border-radius: 15px;
    padding: 2px 10px 2px 30px;
    position: relative;
    background: rgba(235, 233, 249, 1);
    background: -moz-linear-gradient(top, rgba(235, 233, 249, 1) 0%, rgba(216, 208, 239, 1) 50%, rgba(206, 199, 236, 1) 51%, rgba(193, 191, 234, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(235, 233, 249, 1) 0%, rgba(216, 208, 239, 1) 50%, rgba(206, 199, 236, 1) 51%, rgba(193, 191, 234, 1) 100%);
    background: -o-linear-gradient(top, rgba(235, 233, 249, 1) 0%, rgba(216, 208, 239, 1) 50%, rgba(206, 199, 236, 1) 51%, rgba(193, 191, 234, 1) 100%);
    background: -ms-linear-gradient(top, rgba(235, 233, 249, 1) 0%, rgba(216, 208, 239, 1) 50%, rgba(206, 199, 236, 1) 51%, rgba(193, 191, 234, 1) 100%);
    background: linear-gradient(to bottom, rgba(235, 233, 249, 1) 0%, rgba(216, 208, 239, 1) 50%, rgba(206, 199, 236, 1) 51%, rgba(193, 191, 234, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebe9f9', endColorstr='#c1bfea', GradientType=0);

}

.fa-cart-arrow-down {
    border: 1px solid;
    border-radius: 50px;
    left: 2px;
    margin: 0 7px 0 0;
    padding: 3px;
    position: absolute;
    text-align: center;
    top: 3px;
    background: #fff
}
.mc-news .col-4-x{padding:0 7px}
.mc-news .module-main h4:first-letter{text-transform: uppercase;}
.mc-news .module-main h4{margin: 0 0 0; text-transform: lowercase;line-height: 1.5em}
.mc-news img{height: 55px;width: 60px; border: 1px solid #ddd;}
.mc-news h4 a{color: #000}
/**slide main**/
.meteor-slides .meteor-buttons{
    left: 10px !important;bottom: 12px !important;
}
.meteor-slides{border:1px solid #FACEDD;
    -webkit-box-shadow: 0 -1px 7px #555 ;
    -moz-box-shadow: 0 -1px 7px #555 ;
    box-shadow: 0 -1px 7px #555;}
div.meteor-slides.navpaged, div.meteor-slides.navboth{
    margin-bottom: 8px !important;
}
/***menu header**/

.menu-header li{display: inline-block;float: left}
.menu-header > li > a:hover{text-decoration: none; color:#fff}

.head .common [class *='menu'] > li > ul.sub-menu{
    margin-top: 11px!important;
    display: none; border-bottom: 1px solid #ddd; border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;
}
.sub-menu a:hover{color: #D60C7E!important;}

/*.menu-header li{position: relative}*/
.has-sub::before{
    position: absolute;
    width: 90px;height: 90px;
    content: "";
    background: transparent;
margin-left: -10px;
    margin-top: 23px;

}
.head .common [class*="menu"] ul li .sub-menu {
    float: left;
    margin-left: -2px;
    overflow: hidden;
    width: 950px;
    background: #fff;
    padding: 10px;

}

.head .common [class *='menu'] > li:hover > ul.sub-menu{
    display: block;
position: absolute;
    z-index: 99999;
    left: 0;right: 0;
    margin: 0 auto;
    width: 950px;
    top: 100px;
    border-bottom: 1px solid #ddd; border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}
/***admin-bar**/
.admin-bar .head .common [class *='menu'] > li:hover > ul.sub-menu{
    top: 130px;
}
.admin-bar header {
    /*margin-top: 31px;*/
}
/***/
.head .common [class *='menu'] li ul{
    background: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    min-height: 120px;
    box-sizing: border-box;}
.head .common [class *='menu'] li ul li a{color: #000;}
.head .common [class *='menu'] li ul li{
    width: 19%;
    display: inline;
  background: none;
    float: left;
    text-transform: uppercase;
    border: 0;
    padding-top: 20px;
    border-radius: 0px;
    text-align: center;
}
.head .common [class *='menu'] li ul.goc-chiase{
    width: 200px;
    left: auto;
    right: auto;padding-top: 10px;

}
.head .common [class *='menu'] li:hover ul.goc-chiase{
    width: 200px;
    left: auto;
    right: auto;
    margin-left: -10px;
}
.admin-bar .head .common [class *='menu'] li:hover ul.goc-chiase{
     top: 130px;
}
.head .common [class *='menu'] li:hover ul.goc-chiase li{
    padding:5px 10px;
    margin: 0!important;
    width: 100%; text-align: left; text-transform: lowercase}
.head .common [class *='menu'] li:hover ul.goc-chiase li:first-child{margin-top: 20px}
.head .common [class *='menu'] li ul li ul li{
    background: none;padding: 2px 0;margin: 0;
text-align: left;width: 100%;
    color: #000;
    border: 0px;
     text-transform: lowercase;}
.head .common [class *='menu'] li ul li ul li:first-letter,.common [class *='menu'] li:hover ul.goc-chiase li{text-transform: uppercase}
.head .common [class *='menu'] li  ul li:last-child{right: 0px}
.head .common [class *='menu'] li ul li:hover{background: none}

.hr{border-bottom: 1px solid #555; width: 100%; margin-bottom: 10px}

.btn-cart, .submit{
    width: auto!important;
    color: #fff !important;
    background: #d60c7e!important;
    border-radius: 5px !important;
    margin-right: 10px !important;
    padding: 7px 10px; border: 1px solid #ad0b85 !important;
    background: -moz-linear-gradient(top, #E9479D 0%, #E9479D 50%, #d60c7e 51%, #d60c7e 100%) !important;
    background: -webkit-linear-gradient(top, #E9479D 0%, #E9479D 50%, #d60c7e 51%, #d60c7e 100%) !important;
    background: -o-linear-gradient(top, #E9479D 0%, #E9479D 50%, #d60c7e 51%, #d60c7e 100%) !important;
    background: -ms-linear-gradient(top, #E9479D 0%, #E9479D 50%, #d60c7e 51%, #d60c7e 100%) !important;
    background: linear-gradient(to bottom,#E9479D 0%, #E9479D 50%, #d60c7e 51%, #d60c7e 100%) !important;
}
.btn-cart:hover, .submit:hover{
    background: #d60c7e!important;
    background: -moz-linear-gradient(top, #d60c7e 0%, #E9479D 50%, #E9479D 51%, #d60c7e 100%) !important;
    background: -webkit-linear-gradient(top, #d60c7e 0%, #E9479D 50%, #E9479D 51%, #d60c7e 100%) !important;
    background: -o-linear-gradient(top, #d60c7e 0%, #E9479D 50%, #E9479D 51%, #d60c7e 100%) !important;
    background: -ms-linear-gradient(top, #d60c7e 0%, #E9479D 50%, #E9479D 51%, #d60c7e 100%) !important;
    background: linear-gradient(to bottom,#d60c7e 0%, #E9479D 50%, #E9479D 51%, #d60c7e 100%) !important;
}

/***menu footer**/
.menu-menu-footer-container{overflow: hidden; margin: 20px 0}
.head .common [class *='menu'] > li, .blog .common [class *='menu'] > li{
    background: #d60c7e;
    border-radius: 5px;
    margin-right: 10px;
    padding: 7px 10px; border: 1px solid #ad0b85;
    background: -moz-linear-gradient(top, #E9479D 0%, #E9479D 50%, #d60c7e 51%, #d60c7e 100%);
    background: -webkit-linear-gradient(top, #E9479D 0%, #E9479D 50%, #d60c7e 51%, #d60c7e 100%);
    background: -o-linear-gradient(top, #E9479D 0%, #E9479D 50%, #d60c7e 51%, #d60c7e 100%);
    background: -ms-linear-gradient(top, #E9479D 0%, #E9479D 50%, #d60c7e 51%, #d60c7e 100%);
    background: linear-gradient(to bottom,#E9479D 0%, #E9479D 50%, #d60c7e 51%, #d60c7e 100%);
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E9479D', endColorstr='#d60c7e', GradientType=0);*/

}
.head .common [class *='menu'] > li:hover,.blog .common [class *='menu'] > li:hover{
    background: #d60c7e;
    background: -moz-linear-gradient(top, #d60c7e 0%, #E9479D 50%, #E9479D 51%, #d60c7e 100%);
    background: -webkit-linear-gradient(top, #d60c7e 0%, #E9479D 50%, #E9479D 51%, #d60c7e 100%);
    background: -o-linear-gradient(top, #d60c7e 0%, #E9479D 50%, #E9479D 51%, #d60c7e 100%);
    background: -ms-linear-gradient(top, #d60c7e 0%, #E9479D 50%, #E9479D 51%, #d60c7e 100%);
    background: linear-gradient(to bottom,#d60c7e 0%, #E9479D 50%, #E9479D 51%, #d60c7e 100%);
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E9479D', endColorstr='#d60c7e', GradientType=0);*/

}
.head .common [class*='menu'] li ul li a:first-letter{text-transform:uppercase}
.head .common [class*='menu'] li ul li ul li a{text-transform:lowercase!important;}
.head .common [class*='menu'] li a,.menu-phone ul li > a, .blog footer li a{color: #fff; text-decoration: none}
.head .common [class*="menu"] li a,#menu-menu-footer li a{text-transform: uppercase}

.head .common [class *='menu'] a:hover{text-decoration:none}
.head .common [class*="menu"] li:last-child{margin-right: 0}
.menu-menu-footer-container{margin-top:15px!important}
.blog footer .menu-menu-footer-container{background: none}
footer .menu-menu-footer-container{background: url("images/bg-footer.jpg") no-repeat; height: 59px;width: 950px}
footer ul li{padding: 10px 85px;margin-top: 5px}

.round-menu{float: right;margin-top: 10px}
/**menu left**/
.menu-left{overflow: hidden}
.menu-left li{background: none; border-bottom: 1px solid #ddd; width: 100%; padding: 8px 0}
.m-takecare .m-content{background: #fff}

/***/
address{ font-style: italic;margin-bottom: 30px}
.copy-r{overflow: hidden}
address .desc{margin-top: 3px;float: left;padding-right:5px}
/***slider**/
.bx-pager-item{display: none}
.slider-footer{width: 100%; border-top:1px dashed #d60c7e; border-bottom: 1px dashed #d60c7e; padding:10px 0; margin-top: 20px}
.slider1 > li{border: 1px solid #ddd; text-align: center}
.slider-footer .bx-wrapper img{margin: 0 auto; max-width: 100%; height: 100px!important;}
.searchbox{overflow: hidden; width: 100%;text-align: right; float: right}
.right.searchbox > img{display: inline-block;float: right;margin: 3px}
.frm-search{margin-right: 20px;display: inline-block}
.frm-search input{padding: 7px 5px;width: 205px; border: 1px solid #7bbbeb;border-radius:4px}
.frm-search{position: relative}
.frm-search button{background: none; border: 0; position: absolute;right: 5px;cursor: pointer;top: 6px;}
.fa-search{font-size: 16px;color: #d60c7e;cursor: pointer;}
.frm-search input:focus{width: 325px}
/***news**/
.categories .list li img{width: 120px; height: 90px; margin-right: 10px}
.categories h4{margin:0}
.m-hot{background: #fafafa; padding: 5px 0 20px}
.categories h4{text-transform: lowercase}
.categories h4:first-letter{text-transform: uppercase}
.categories .list li{border-bottom: 1px solid #ddd;padding: 0 10px 10px;}
/***module hot **/
.m-hot h2{text-transform: uppercase; font-style: italic; font-weight:normal; padding: 13px;}
.italic{font-style: italic}
.m-hot li{margin-bottom: 20px; padding: 5px 10px;box-sizing: border-box;}
.m-hot h3 {
    font-size: 14px;
    font-weight: normal;
    margin-top: 4px;padding: 0 10px;
}
.details{padding: 20px 15px 15px ;}

.details h3{font-weight: normal; color: #e61372}
.woocommerce .woocommerce-breadcrumb{font-size: 1.03em;}
/***/
.m-visitor .m-content{background: #FEFEF2}
.share-post .social{float: left; margin-right: 10px}
/***panavi**/
.simplePagerNav div{
    background: #eee none repeat scroll 0 0;
    border: 1px solid #cfcfcf;
    display: inline-block;
    margin: 2px;
    overflow: hidden;
    padding: 0 5px;
    text-align: center;
    width: 20px;
}
.simplePagerNav .currentPage{background: #d60c7e;}
.simplePagerNav .currentPage a{color: #fff; font-weight: bold}
.simplePagerNav {
    margin: 0 auto;
    text-align: center;
    padding: 30px;
}
/***/
.m-relative-post .module-main{padding: 10px 13px}
.details img {
    height: auto;
    max-width: 100%;
}
.contacts{
    padding:20px 30px;
}
.contacts .wpcf7-form label{width: 100%; float: left}
.wpcf7-form > p {
    margin-bottom: 10px;
}
.wpcf7-form .wpcf7-form-control{line-height: 30px; width: 60%;  border: 1px solid #555;
    border-radius: 4px;}
.wpcf7-form {}
span .wpcf7-form-control{padding:0 10px 0 10px}
.wpcf7{margin-left: 100px}
.wpcf7-submit{background: #d60c7e; color: #fff;width:auto !important;font-weight: bold;
    -webkit-border-radius: 3px;border: 0;
    cursor: pointer;
    -moz-border-radius: 3px;
    line-height: normal!important; padding: 7px 25px;
    border-radius: 3px; }
.wpcf7-textarea,textarea{height: 130px!important; font-family: inherit; padding: 5px 8px; font-size: 100%}
.google-map{max-width: 100%;overflow: hidden; margin-top: 20px}
/**cart***/
.cart-empty {
    margin-bottom: 30px;
}
/***single product**/
.product-details .related{}
/***cart**/
.woocommerce .quantity .qty{line-height: 25px}
.order-total .amount {
    color: #d60c7e;
    font-size: 24px;
}
.single-product .quantity .qty{
    line-height: 35px!important;
    height:35px;
}
.woocommerce-cart .wc-proceed-to-checkout{
    margin: 0 auto;
    width: 60% !important;
}
.checkout-button.button.alt.wc-forward.btn-cart {
    font-size: 22px;
    letter-spacing: 2px;
    padding: 22px;
    text-transform: uppercase;
    margin: 0 auto!important;
}
.woocommerce-cart .cart-collaterals .cart_totals table td, .woocommerce-cart .cart-collaterals .cart_totals table th{
    padding: 6px 7px!important;
}
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea{
    padding: 1px 8px;
    font-family: 'NhomMuaMedium', Arial, "Open Sans", Helvetica, sans-serif;
    font-size: 100%;
    line-height: 2!important;
}
.woocommerce-cart .cart-collaterals .cart_totals table th{width: 50% !important}
.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals{
    background: #e1f5ff none repeat scroll 0 0;
    border: 5px solid #c3eaff;
    width: 40% !important;
}
.woocommerce .woocommerce-info{border-top-color: #c3eaff !important;}
.calculated_shipping h2{text-align: center!important;}
.woocommerce-billing-fields .address-field{
    width: 100% !important;
}

form .input-text{border-radius: 3px ; border: 1px solid rgba(0, 0, 0, 0.36)}
.woocommerce-checkout #payment{background: #E1F5FF!important;}
.woocommerce-checkout #payment div.payment_box::before{
    border-color: transparent transparent #C3EAFF!important;
}
.woocommerce-checkout #payment div.payment_box{
    background: #C3EAFF!important;
}
#order_comments{height: 7.4em}
.woocommerce-checkout #payment {
    background: #e1f5ff !important;
    float: right;
    width: 50%!important;
}
.woocommerce table.shop_table td,.woocommerce table.shop_table tbody th, .woocommerce table.shop_table tfoot td, .woocommerce table.shop_table tfoot th{border-top: 1px solid rgba(0, 0, 0, 0.36) !important;}
 .order-received table.shop_table tfoot td{font-weight: normal!important;}
.woocommerce table.shop_table{float: left;width: 47.5%!important;
    border-collapse: collapse!important;
border: 1px solid rgba(0, 0, 0, 0.36) !important;
}
#cart-page .cart_totals{margin-top: 30px;float: right}
#cart-page .cart_totals, #cart-page .cart_totals h2 {text-align: center}
#cart-page .cart_totals h2{padding-bottom: 20px}
#cart-page .cart_totals table tr td:last-child{text-align: left!important;}
#cart-page .cart_totals table tr th{width: 40% !important; text-align: right !important;}
#cart-page table{width: 100% !important; margin: 0 auto}
#billing_last_name_field{float: left}
#billing_first_name_field{
    float: right;!important;
}
.woocommerce-order-received h2{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    clear: both;
    display: block;
    float: left;
    margin-bottom: 15px;
    padding: 0 0 4px;
    width: 100%;
}
.woocommerce-order-received .woocommerce table.shop_table{width: 100% !important}
/**thumbail chi tiet**/
.woocommerce .product-details div.images img{max-width: 100% !important;height: auto!important;margin: 0 auto!important;
    text-align: center!important;}
.woocommerce .product-details div.images div.thumbnails img{border: 1px solid #ddd}
.single-product .entry-summary .price .amount{font-size: 23px}

.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images{
    border: 1px solid #ddd;
    padding: 10px;

}
.woocommerce div.product div.images div.thumbnails{
    display: flex;
}
.woocommerce #content div.product div.thumbnails a, .woocommerce div.product div.thumbnails a, .woocommerce-page #content div.product div.thumbnails a, .woocommerce-page div.product div.thumbnails a{
    width: 21.75%!important;
    margin: 0 auto !important;
    text-align: center !important;
}
.woocommerce #content div.product div.thumbnails a.last, .woocommerce div.product div.thumbnails a.last, .woocommerce-page #content div.product div.thumbnails a.last, .woocommerce-page div.product div.thumbnails a.last{
    margin-right: 1.5% !important;
}
.single-product .product-details div.thumbnails {
    margin: 0 5px;
    margin-top: 4.5% !important;
    border-top: 1px solid #ddd;
}
.ppt{display: none!important;}
/***responsive table**/
.woocommerce table.shop_table_responsive tr, .woocommerce table.shop_table_responsive tr td, .woocommerce-page table.shop_table_responsive tr, .woocommerce-page table.shop_table_responsive tr td{

}
.order-received .clear + p{display: none}
.woocommerce #reviews h3{ font-size: 13px;
    margin: 10px 0 15px!important;}
.comment-respond label{width: 17%; float: left}
.comment-respond input{padding: 5px 10px}
.woocommerce .star-rating span::before{color: #FF318A}
.woocommerce div.product .woocommerce-tabs ul.tabs li{color: #FF318A!important;margin-right: 10px!important;}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active{background: none!important;}
.woocommerce .star-rating{
    float: none!important;  margin: 0 auto;
}
.single-product #comments .star-rating{float:right!important;}
/**sitemap**/
.list-sitemap, .list-sitemap li ul,.sitemap-right{list-style: square inside;}
.list-sitemap li, .sitemap-right li{float: left; width: 100%; overflow: hidden;padding: 8px 0;}
.list-sitemap li ul, .sitemap-right li ul{padding-left: 20px}
.mb-shopping{  float: right !important;
    margin-right: 23px;
    right: 10px;
    width: auto !important;}
.link-shopping{ float: right !important;
    position: relative;
    width: auto !important;}
.link-shopping span{background: #fff none repeat scroll 0 0;
    border: 1px solid;
    border-radius: 20px;
    font-size: 11px;
    left: 27px;
    position: absolute;
    text-align: center;
    top: 5px;
    width: 21px;height: 21px}
.share-post{overflow: hidden}
.btn.btn-click {
    background: #555 none repeat scroll 0 0;
    color: #fff;
    overflow: hidden;
    padding: 5px 90px;
}
.head .fa-home{margin-left: 5px}
.fb-share-button.fb_iframe_widget{height: 26px}
.socials{float: left; width: auto;margin-right: 5px}
/****menu**/
ul .menu-item-58 a, ul .menu-item-59 a, ul .menu-item-61 a{position: relative}
ul .menu-item-58 a{top: 6px}
ul .menu-item-59 a{top: 4px}
ul .menu-item-61 a{bottom: 2px}
.home ul .menu-item-58 a, .home ul .menu-item-59 a, .home ul .menu-item-61 a{position: inherit}

.mc-perfume{display:none}
.contact-social img{vertical-align:top}